# Simple Tensorflow Example
Tensorflow wasn't working right in the other notebook, this is a place to experiment with it and get some basic neural nets going without adding the complexity of that dataset

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

import numpy as np
import pandas as pd
import tensorflow as tf

In [12]:
a = np.arange(440,540,0.2)
b = np.arange(120,1,-0.5)
c = np.arange(20,130, 0.53)

data = {
    "a" : a[:200],
    "b" : b[:200],
    "c" : c[:200],
}
df = pd.DataFrame(data)
df['sum'] = df.sum(axis=1)
df.tail()

         a     b       c     sum
195  479.0  22.5  123.35  624.85
196  479.2  22.0  123.88  625.08
197  479.4  21.5  124.41  625.31
198  479.6  21.0  124.94  625.54
199  479.8  20.5  125.47  625.77

In [13]:
X = np.array(df.drop(columns=["sum"]))
y = np.array(df["sum"])

In [14]:
def print_score(pred, true):
    print("Mean Squared Error:".ljust(22," "),round(mean_squared_error(true, pred),5))
    print("Mean Absolute Error:".ljust(22," "), round(mean_absolute_error(true, pred),5))

In [50]:
TEST_RATIO = 0.3

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TEST_RATIO,random_state=42)

X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

print(len(X_train), len(X_test), len(y_train), len(y_test))

140 60 140 60

In [52]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(input_shape=(3,)),
    tf.keras.layers.Dense(3, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    tf.keras.layers.Dense(1, activation='linear')
])

model.compile(
    optimizer="adam",
    loss="mse",
)
model.fit(x=X_train, y=y_train, epochs=4, verbose=1)

Epoch 1/4
5/5 [==============================] - 0s 838us/step - loss: 363409.6250
Epoch 2/4
5/5 [==============================] - 0s 604us/step - loss: 363403.5938
Epoch 3/4
5/5 [==============================] - 0s 610us/step - loss: 363397.5312
Epoch 4/4
5/5 [==============================] - 0s 713us/step - loss: 363391.5000

In [53]:
predictions = model.predict(X_test, verbose=1)

2/2 [==============================] - 0s 1ms/step

In [54]:
print_score(predictions,y_test)

Mean Squared Error:    364170.81373
Mean Absolute Error:   603.34033

In [40]:
print(predictions[40], y_test[40])

[592.0563] 598.1699999999992