# Simple Tensorflow Example
Tensorflow wasn't working right in the other notebook, this is a place to experiment with it and get some basic neural nets going without adding the complexity of that dataset

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

import numpy as np
import pandas as pd
import tensorflow as tf

In [12]:
a = np.arange(440,540,0.2)
b = np.arange(120,1,-0.5)
c = np.arange(20,130, 0.53)

data = {
    "a" : a[:200],
    "b" : b[:200],
    "c" : c[:200],
}
df = pd.DataFrame(data)
df['sum'] = df.sum(axis=1)
df.tail()

         a     b       c     sum
195  479.0  22.5  123.35  624.85
196  479.2  22.0  123.88  625.08
197  479.4  21.5  124.41  625.31
198  479.6  21.0  124.94  625.54
199  479.8  20.5  125.47  625.77

In [13]:
X = np.array(df.drop(columns=["sum"]))
y = np.array(df["sum"])

In [14]:
def print_score(pred, true):
    print("Mean Squared Error:".ljust(22," "),round(mean_squared_error(true, pred),5))
    print("Mean Absolute Error:".ljust(22," "), round(mean_absolute_error(true, pred),5))

In [15]:
TEST_RATIO = 0.3

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TEST_RATIO,random_state=42)

X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

print(len(X_train), len(X_test), len(y_train), len(y_test))

140 60 140 60

In [47]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(input_shape=(3,)),
    tf.keras.layers.Dense(3, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    tf.keras.layers.Dense(1, activation='linear')
])

model.compile(
    optimizer="adam",
    loss="mse",
)
model.fit(x=X_train, y=y_train, epochs=40, verbose=1)

Epoch 1/40
5/5 [==============================] - 0s 693us/step - loss: 380220.2500
Epoch 2/40
5/5 [==============================] - 0s 512us/step - loss: 363389.3438
Epoch 3/40
5/5 [==============================] - 0s 694us/step - loss: 346844.8125
Epoch 4/40
5/5 [==============================] - 0s 710us/step - loss: 330613.8438
Epoch 5/40
5/5 [==============================] - 0s 733us/step - loss: 314628.4062
Epoch 6/40
5/5 [==============================] - 0s 811us/step - loss: 298882.5000
Epoch 7/40
5/5 [==============================] - 0s 773us/step - loss: 283378.4062
Epoch 8/40
5/5 [==============================] - 0s 734us/step - loss: 268237.1250
Epoch 9/40
5/5 [==============================] - 0s 859us/step - loss: 253213.2812
Epoch 10/40
5/5 [==============================] - 0s 738us/step - loss: 238543.2812
Epoch 11/40
5/5 [==============================] - 0s 783us/step - loss: 224224.3750
Epoch 12/40
5/5 [==============================] - 0s 725us/step - loss: 210193.1094
Epoch 13/40
5/5 [==============================] - 0s 789us/step - loss: 196450.2656
Epoch 14/40
5/5 [==============================] - 0s 745us/step - loss: 183128.7188
Epoch 15/40
5/5 [==============================] - 0s 766us/step - loss: 170110.5938
Epoch 16/40
5/5 [==============================] - 0s 751us/step - loss: 157526.3438
Epoch 17/40
5/5 [==============================] - 0s 743us/step - loss: 145269.5000
Epoch 18/40
5/5 [==============================] - 0s 711us/step - loss: 133506.1094
Epoch 19/40
5/5 [==============================] - 0s 860us/step - loss: 122161.9297
Epoch 20/40
5/5 [==============================] - 0s 747us/step - loss: 111352.9531
Epoch 21/40
5/5 [==============================] - 0s 736us/step - loss: 100984.7109
Epoch 22/40
5/5 [==============================] - 0s 822us/step - loss: 91174.4844
Epoch 23/40
5/5 [==============================] - 0s 681us/step - loss: 81882.3672
Epoch 24/40
5/5 [==============================] - 0s 674us/step - loss: 73178.3906
Epoch 25/40
5/5 [==============================] - 0s 850us/step - loss: 65032.2695
Epoch 26/40
5/5 [==============================] - 0s 724us/step - loss: 57448.3945
Epoch 27/40
5/5 [==============================] - 0s 710us/step - loss: 50414.1680
Epoch 28/40
5/5 [==============================] - 0s 803us/step - loss: 43978.0703
Epoch 29/40
5/5 [==============================] - 0s 759us/step - loss: 38086.9062
Epoch 30/40
5/5 [==============================] - 0s 712us/step - loss: 32755.6172
Epoch 31/40
5/5 [==============================] - 0s 728us/step - loss: 27955.9180
Epoch 32/40
5/5 [==============================] - 0s 798us/step - loss: 23689.8730
Epoch 33/40
5/5 [==============================] - 0s 727us/step - loss: 19907.8262
Epoch 34/40
5/5 [==============================] - 0s 681us/step - loss: 16596.4316
Epoch 35/40
5/5 [==============================] - 0s 825us/step - loss: 13704.0889
Epoch 36/40
5/5 [==============================] - 0s 759us/step - loss: 11222.8066
Epoch 37/40
5/5 [==============================] - 0s 664us/step - loss: 9107.3457
Epoch 38/40
5/5 [==============================] - 0s 910us/step - loss: 7325.8989
Epoch 39/40
5/5 [==============================] - 0s 668us/step - loss: 5833.5850
Epoch 40/40
5/5 [==============================] - 0s 703us/step - loss: 4600.8154

In [48]:
predictions = model.predict(X_test, verbose=1)

2/2 [==============================] - 0s 2ms/step

In [49]:
print_score(predictions,y_test)

Mean Squared Error:    3875.19512
Mean Absolute Error:   62.23627

In [40]:
print(predictions[40], y_test[40])

[592.0563] 598.1699999999992